body {
    background-color: #00FF00;
    color: #FF00FF;
    font-family: 'Spectral SC', serif;
}

button {
    background-color: #FF00FF;
    color: #00FF00;
    font-family: 'Spectral SC', serif;
}

.remove {
    list-style-type: none;
}