a[href^="https://"] {
    color: purple;
}

a[href^="http://"] {
    color: blue;
}

a[href*=".org"] {
    text-transform: uppercase;
}

a[href*="panda"]{
    background-color: cornflowerblue;
}

li:nth-child(2) {
    font-style: italic;
}

li:nth-last-child(2) {
    font-weight: bold;
}

li {
    margin: 10px;
}